body{
    background: gray;
}

button img{
    width: 1.5rem;
    height: 1.5rem;
}

button{
    display: flex;
    align-items: center;
    gap: .4rem;
    padding: 8px;
    line-height: 0;
    border: none;
    border-radius: 10px;
    background: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.295);
    cursor: pointer;
}

button:hover{
    background: #94c8fc;
}